In [1]:
import os
from pathlib import Path
from dotenv import load_dotenv
import findspark
env_path = Path(os.getenv("HOME")) / "data_engineering_zoomcamp_2025" / "5_batch" / ".env"
load_dotenv(dotenv_path=env_path)
findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

your 131072x1 screen size is bogus. expect trouble

25/03/03 09:47:42 WARN Utils: Your hostname, marc-pc resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/03/03 09:47:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

25/03/03 09:47:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
df_green = spark.read.parquet('data/pq/green/*/*')
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [18]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [19]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [21]:
df_yellow.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [23]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [25]:
common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [26]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [28]:
from pyspark.sql import functions as F

In [34]:
df_green_sel = df_green.select(common_columns).withColumn('service_type', F.lit('green'))
df_yellow_sel = df_yellow.select(common_columns).withColumn('service_type', F.lit('yellow'))

In [35]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [36]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [37]:
df_trips_data.registerTempTable("trips_data")

/home/marc/data_engineering_zoomcamp_2025/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [40]:
spark.sql("""        
SELECT  service_type,
        count(1)
FROM 
    trips_data
GROUP BY
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [43]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    revenue_zone, revenue_month, service_type
""")

In [44]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         127|2020-02-01 00:00:00|       green|   21571.68000000001|               890.75|                  495.0|        1050.5200000000002|           488.8000000000003|                    345.0000000000036|           25119.14999999985|                               264.0|        1.1945837512537614|       4.583894472361809|
|          47|2020-01-01 00:00:00|       green|  16630.150000000023|               1192.0|                  160.0|        42.230000000000004|           523.0000000000002|                   210.89999999999992|          18770.429999999982|                                11.0|         1.177685950413223|       4.644999999999998|
|          53|2020-01-01 00:00:00|       green|   6281.649999999997|               330.25|                   49.0|                     39.22|          102.49999999999999|                    68.39999999999992|           6873.770000000004|                                2.75|        1.2417582417582418|       6.929710743801656|
|         263|2020-01-01 00:00:00|       green|   8987.339999999993|                561.0|                 124.55|         315.2700000000001|           335.0600000000001|                    127.1999999999995|          10684.169999999998|                              239.25|        1.4293478260869565|      5.2642494226327905|
|         150|2020-01-01 00:00:00|       green|   9996.159999999998|                627.5|                   98.0|                     97.87|                      149.14|                   109.49999999999955|          11082.069999999989|                                 0.0|        1.1147540983606556|       5.393588516746415|
|         128|2020-01-01 00:00:00|       green|   3261.330000000001|                158.0|                   35.5|                     82.25|                      104.04|                    34.50000000000004|           3714.020000000001|                                27.5|        1.0169491525423728|       7.023280000000002|
|          19|2020-01-01 00:00:00|       green|   7798.879999999997|                377.0|                   42.0|                      6.66|          174.40000000000003|                     67.4999999999999|           8466.440000000004|                                 0.0|                  1.046875|       7.850781893004116|
|         186|2020-01-01 00:00:00|       green|  1539.2299999999998|                85.25|                    6.0|                       0.0|                       97.92|                   13.800000000000004|          1742.1999999999998|                                 0.0|        1.6666666666666667|       9.389565217391304|
|         126|2020-01-01 00:00:00|       green|  11827.839999999998|               766.75|                  110.5|        101.86999999999998|           458.2800000000002|                   145.19999999999933|          13425.340000000007|                                11.0|                     1.275|        5.18780669144981|
|         238|2020-01-01 00:00:00|       green|   5397.989999999999|                403.5|                   20.0|                       0.0|          124.67999999999998|                    61.19999999999996|           6007.370000000001|                                 0.0|                       1.2|       6.460536585365853|
|          96|2020-01-01 00:00:00|       green|   628.8000000000001|                 27.5|                    4.0|                       0.0|                       55.08|                    5.699999999999999|                      721.08|                                 0.0|        1.1428571428571428|      7.0195454545454545|
|         116|2020-01-01 00:00:00|       green|   78706.70999999988|              3319.25|                 2632.5|         5847.950000000003|          1467.9299999999994|                    1756.499999999903|           96138.29000000302|                              2793.0|         1.212485896953742|       3.068908940397352|
|          90|2020-01-01 00:00:00|       green|             2921.62|                165.0|                   19.0|                       0.0|          190.56000000000003|                    25.80000000000002|          3321.9799999999996|                                 0.0|                       1.2|       8.451627906976743|
|         255|2020-02-01 00:00:00|       green|   52849.03999999999|               2633.5|                 1954.0|         8370.830000000014|           387.3600000000001|                   1196.6999999999616|           69668.23000000084|                             2672.75|        1.4060529634300125|       3.155214906832303|
|         180|2020-01-01 00:00:00|       green|   4024.460000000001|               210.75|                   26.0|                     20.24|           84.88999999999999|                    43.20000000000006|           4414.240000000002|                                2.75|        1.3396226415094339|       5.324473684210526|
|         227|2020-01-01 00:00:00|       green|  14857.100000000015|               776.75|                   94.5|                     21.57|          271.57000000000005|                    137.0999999999994|          16173.289999999983|                                 0.0|        1.0743801652892562|       7.235522088353413|
|         101|2020-01-01 00:00:00|       green|   8472.769999999997|                460.5|                   38.0|                     15.22|          232.56000000000006|                    70.49999999999989|           9289.550000000005|                                2.75|        1.0512820512820513|        9.08115384615385|
|         190|2020-01-01 00:00:00|       green|  3786.0199999999995|                175.0|                   76.5|        242.15999999999997|                       24.48|                    62.69999999999992|           4419.360000000001|                               35.75|        1.4244604316546763|      3.5506912442396312|
|         264|2008-12-01 00:00:00|       green|                 0.0|                  0.0|                    0.0|                       0.0|                         0.0|                                  0.0|                         0.0|                                 0.0|                       1.0|                     0.0|
|         119|2020-01-01 00:00:00|       green|  21224.649999999994|               1391.0|                  186.5|         74.61999999999999|           730.0800000000004|                   245.70000000000084|          23870.199999999968|                               13.75|        1.1612903225806452|       5.585108695652175|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [45]:
df_result.write.parquet('data/report/revenue')